.center{
    text-align: center;
}
body{
    font-size: 17px;
    background: #E9ECEF;
}
div.todoStatusACTIVE{
    color: #2574A9;
}

div.todoStatusCOMPLETE{
    color: #26A65B;
    text-decoration: line-through;
}
div.todoStatusDELETED{
    color: #D24D57;
    text-decoration: line-through;
}

.breadthHorizontal{
    margin: 10px;
}

.breadthVertical{
    margin: 5px;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #e7e7e7;
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-margin{
    margin-right: 40px;
}

.pointer-on-hover{
    cursor: pointer;
}

.jumbotron{
    background: #232228;
    color: #cccccc;
}